.space-sm {
    height: 5px;
}

.space-md {
    height: 10px;
}

.space-lg {
    height: 20px;
}

#title {
    font-family: "Lobster", cursive;
    font-size: 5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

#advanced_button {
    background-color: black;
    color: white;
}

.btn-link {
    background-color: transparent;
    color: black;
    margin-top: 5px;
    line-height: 0.8;
    font-size: 1.0rem;
}

body {
    background-image: url(data/leaves.png);
}
