.space-sm {
    height: 5px;
}

.space-md {
    height: 10px;
}

.space-lg {
    height: 20px;
}

#title {
    font-family: "Lobster", cursive;
    font-size: 5em;
}

body {
    background-image: url(data/leaves.png);
}
