@charset "utf-8";

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #303030;
    display: grid;
    gap: 1em;
    grid-template-columns: 10em 1fr;
    margin-left: 200px;
    margin-right: 200px;
    color: #458588;
}

#side {
    background-color: #262626;
    padding: 1em;
    float:left;
}

#side div#icon {
    /* box in wrong spot, I don't know why this occurs so just nudging the box a bit */
    width: 142px;
    margin: -1em;
    padding: 0.4em;
    position: relative;
    text-align: center;
}

#side p {
    color: #689d6a;
}

a {
    color: #689d6a;
    text-decoration: none;
}

a:hover {
    color: #cc241d;
    text-decoration: none;
}

img.logo:hover {
    filter: brightness(50%);
}

#main {
    background-color: #262626;
    padding: 1em;
}

#main p {
    color: #83a598;
}

#main div#left_box {
    float: left;
    box-sizing: border-box;
    margin: 0.5em;
    position: relative;
}

#main div#right_box {
    float: right;
    box-sizing: border-box;
    margin: 0.5em;
    position: relative;
}

legend {
    color: #d65d0e;
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
}

details {
    border: 3px;
    border-style: solid;
    border-color: #83a598;
    padding: 0.5em;
}
