:root {
  --blue: #3282B8;
  --darkblue: #0F3C65;
  --darkgrey: #151515;
}
body {
	background-color: var(--darkgrey);
	margin: 0; padding: 0;
}
p, a, h1, h2 {
	color: white;
}
h1 {
	font-family: Fira Mono;
	text-align: center;
	margin: 0; padding: 0;
	font-size: 3vw;
}
h2 {
	font-family: Fira Mono;
	margin: 0; padding: 0;
	font-size: 2.5vw;
	line-height: 4vw;
}
p {
	font-family: Fira Sans;
	margin: 0; padding: 0;
}
/* menu */
div.header {
	padding: 0px; margin: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 5vw;
	background-color: var(--darkblue);
	z-index: 10;
}
img.menu {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 2.5vw; left: 4vw;
	width: 4vw;
}
table.menu {
	border-collapse: collapse;
	position: absolute;
	left: 30vw; top: 0;
	width: 40vw; height: 5vw;
}
td.menu {
	padding: 0px;
	width: 33%;
	border-width: 0px;
	margin: 0px;
}
a.menu {
	display: inline-block;
	font-family: Fira Mono;
	width: 100%;
	text-align: center;
	height: 5vw;
	line-height: 5vw;
	font-size: 1.5vw;
	text-decoration: none;
	transition: 0.3s;
	color: #dddddd;
	text-shadow: 0;
}
a.menu:hover, a.menu:active {
	color: #ffffff;
	text-shadow: 0 0 10px #ddd, 0 0 20px #999, 0 0 30px #222;
}
a.current {
	text-decoration: underline;
	cursor: default;
}
/* The switch - the box around the slider */
label.toggle {
	position: absolute;
	display: inline-block;
	width: 5.4vw;
	height: 3vw;
	transform: translateY(-50%);
	right: 3vw; top: 2.5vw;
}
/* Hide default HTML checkbox */
input.toggle {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
span.toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 3vw;
}
span.toggle:before {
	position: absolute;
	content: "";
	height: 2.4vw;
	width: 2.4vw;
	left: 0.3vw;
	bottom: 0.3vw;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
	background-image: url('data/moon.svg');
	background-size: 1.7vw 1.7vw;
	background-repeat: no-repeat;
	background-position: center;
}
input:checked + span.toggle {
	background-color: var(--blue);
}
input:checked + span.toggle:before {
	-webkit-transform: translateX(2.4vw);
	-ms-transform: translateX(2.4vw);
	transform: translateX(2.4vw);
}
div.headerspace {
	position: relative;
	width: 100vw;
	height: 5vw;
}
div.container {
	position: relative;
	top: 0;
	width: 100vw; height: 90vh;
	margin: 0; padding: 0;
}
/* title */
img.titleimg {
	width: 100vw;
	height: 90vh;
	object-fit: cover;
	opacity: 0.4;
	position: absolute;
	left: 0; top: 0;
}
h1.titleheading {
	transform: translateY(-50%);
	width: 100vw;
	position: absolute;
	left: 0; top: 45vh;
}
/* about cp */
div.cpcontent {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 100vw; height: 30vw;
	top: 45vh; left: 50vw;
}
h2.cpheading {
	position: absolute;
	width: 18vw;
	margin: 0; padding: 0;
	transform: translateY(-50%);
	top: 10vw; left: 10vw;
}
span.cpline {
	background: white;
	position: absolute;
	left: 34vw; top: 0;
	width: 2px; height: 30vw;
}
p.cptext {
	position: absolute;
	font-size: 1.5vw;
	transform: translateX(-50%);
	top: 3vw; left: 67vw;
	width: 32vw;
	text-align: center;
}
div.cpfactor {
	position: absolute;
	transform: translateX(-50%);
	width: 17vw;
	top: 11vw;
}
#factor1 { left: 47vw; }
#factor2 { left: 67vw; }
#factor3 { left: 87vw; }
p.cplbl {
	position: absolute;
	font-size: 2vw;
	width: 100%;
	top: 0;
	text-align: center;
}
p.cpdescription {
	position: absolute;
	font-size: 1.3vw;
	width: 100%;
	top: 5vw;
	text-align: center;
}

/* competitions */
div.compcontent {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 100vw; height: 30vw;
	top: 45vh; left: 50vw;
}
h2.compheading {
	position: absolute;
	width: 100%; text-align: center;
	top: 0;
}
span.underline {
	position: absolute;
	transform: translateX(-50%);
	top: 6vw; left: 50%;
	width: 40vw; height: 2px;
	background: white;
}
div.comp {
	position: absolute;
	transform: translateX(-50%);
	width: 25vw;
	top: 12vw;
}
#comp1 {left: 20vw;}
#comp2 {left: 50vw;}
#comp3 {left: 80vw;}
p.complbl {
	position: absolute;
	font-size: 2vw;
	width: 100%;
	text-align: center;
	top: 0;
}
p.comptxt {
	position: absolute;
	font-size: 1.3vw;
	width: 100%;
	top: 4vw;
	text-align: center;
}
