:root {
  --blue: #3282B8;
  --darkblue: #0F3C65;
  --darkgrey: #151515;
}

/*
body {
    position: absolute;
    left: 50%;
    margin-left: -390px;
    width: 780px;

}
*/

body{
	background-color: var(--darkgrey);
    text-align: center;
    position: absolute;
    left: 50%;
    width: 780px;
    margin-left: -390px;
}

#top-container {
    width: 780px;
    position: relative;
}

a.header {
    margin: 50px;

	font-family: Fira Mono;
	text-decoration: none;
	transition: 0.1s;
	color: #dddddd;
}

a.header:hover, a.header:active {
	color: #ffffff;
	text-shadow: 0 0 10px #ddd, 0 0 20px #999, 0 0 30px #222;
}


p, a, h1, h2 {
	color: white;
	font-family: Fira Mono;
}
h1 {
	text-align: center;
}
h2 {
}
p {
	font-family: Fira Sans;
}
/* menu */
div.header {
	position: relative;
    margin: 100px;
}

#top-container header.a {
    margin: 30px;
}

img.menu {
    /*margin-left: 100px;*/
	position: relative;
	width: 60px;
    top: 30px;
}

table.menu {
	border-collapse: collapse;
	position: relative;
    left: 40%;
	/*width: 40vw; height: 5vw;*/
}

td.menu {
	width: 33%;
}

a.menu:hover, a.menu:active {
	color: #ffffff;
	text-shadow: 0 0 10px #ddd, 0 0 20px #999, 0 0 30px #222;
}
a.current {
	text-decoration: underline;
}
div.container {
	position: relative;
    display: left;
    width: 300px;
    margin: 100px;
}
/* title */
#main-content-box {
    position: relative;

}

div.titleheading {
    position: relative;
    width: 780em;
    height: 200px;
}

div.leftbox {
    width: 300px;
    float: left;
    position: relative;
}

div.rightbox {
    width: 300px;
    float: right;
    position: relative;
}

div.calender {
    margin-right: 100px;
    position: relative;
    float: right;
}

/* about cp */
div.cpcontent {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 100vw; height: 30vw;
	top: 45vh; left: 50vw;
}
h2.cpheading {
	position: absolute;
	width: 18vw;
	margin: 0; padding: 0;
	transform: translateY(-50%);
	top: 10vw; left: 10vw;
}
span.cpline {
	background: white;
	position: absolute;
	left: 34vw; top: 0;
	width: 2px; height: 30vw;
}
p.cptext {
	position: absolute;
	font-size: 1.5vw;
	transform: translateX(-50%);
	top: 3vw; left: 67vw;
	width: 32vw;
	text-align: center;
}
div.cpfactor {
	position: absolute;
	transform: translateX(-50%);
	width: 17vw;
	top: 11vw;
}
#factor1 { left: 47vw; }
#factor2 { left: 67vw; }
#factor3 { left: 87vw; }
p.cplbl {
	position: absolute;
	font-size: 2vw;
	width: 100%;
	top: 0;
	text-align: center;
}
p.cpdescription {
	position: absolute;
	font-size: 1.3vw;
	width: 100%;
	top: 5vw;
	text-align: center;
}

/* competitions */
div.compcontent {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 100vw; height: 30vw;
	top: 45vh; left: 50vw;
}
h2.compheading {
	position: absolute;
	width: 100%; text-align: center;
	top: 0;
}
span.underline {
	position: absolute;
	transform: translateX(-50%);
	top: 6vw; left: 50%;
	width: 40vw; height: 2px;
	background: white;
}
div.comp {
	position: absolute;
	transform: translateX(-50%);
	width: 25vw;
	top: 12vw;
}
#comp1 {left: 20vw;}
#comp2 {left: 50vw;}
#comp3 {left: 80vw;}
p.complbl {
	position: absolute;
	font-size: 2vw;
	width: 100%;
	text-align: center;
	top: 0;
}
p.comptxt {
	position: absolute;
	font-size: 1.3vw;
	width: 100%;
	top: 4vw;
	text-align: center;
}
